body {
    font-family: Arial, sans-serif;
}
#question-section {
    background-color: #ffffff;
    padding: 20px;
}
#answer-section {
    background-color: #ffffff;
    padding: 20px;
}
.radio-buttons {
    margin-left:1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Style for unselected radio buttons */
.custom-control-input:not(:checked) ~ .custom-control-label::before {
    border-color: #adb5bd;
    background-color: #fff;
}

/* Style for selected radio buttons */
.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #0d6efd;
    background-color: #0d6efd;
    animation: bounce 0.5s;
    background-color: #ff69b4;
}

@keyframes bounce {
    0%, 100% { transform: scale(1.0); }
    50% { transform: scale(1.2); }
}
/* Define the character reaction animation */
@keyframes character-reaction {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

/* Apply the character reaction animation to the character */
#character {
    animation: character-reaction 1s;
    display: none; 
}

/* Define the fade-in animation */
@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Apply the fade-in animation to the answer section */
.fade-in {
    animation: fade-in 5s;
}