body {
    font-family: Arial, sans-serif;
    background-image: url('images/background/3.jpeg');
    background-repeat: no-repeat;
    /* background-image: url('images/background/15.jpg'); */
    background-size: 100vw 100vh;

}

#question-section {

    padding: 20px;
    padding-bottom: 0px;
    font-family: 'Lugrasimo', cursive;
    /* font-family: 'Architects Daughter', cursive; */
    font-size: larger;
    font-weight: bold;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Comic Sans MS'; */

    /* font-family: 'Bubblegum Sans', cursive; */
    /* Bubblegum Sans */
    /* font-family: 'Patrick Hand', cursive; */
    /* Patrick Hand */
    /* font-family: 'Amatic SC', cursive; */
    /* Amatic SC */
    /* font-family: 'Pacifico', cursive; */
    /* Pacifico */
    /* font-family: 'Fredoka One', cursive; */
    /* Fredoka One */
    /* font-family: 'Indie Flower', cursive; */
    /* Indie Flower */
    /* font-family: 'Baloo Bhai 2', cursive; */
    /* Baloo Bhai 2 */
   
}

#answer-section,.shortexplain-section {
    padding: 20px;
    padding-top: 0px;
        /* font-family: 'Bubblegum Sans', sans-serif; */
    /* font-family: 'Architects Daughter', cursive; */
    font-family: 'Lugrasimo', cursive;
    font-size: larger;
    font-weight: bold;
}


.submitButton,
.next-button {
    border-radius: 50px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to right, #5f9142 0%, #F4D03F 51%, #d8f0ca 100%);
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 50px;
}

.submitButton:hover,
.next-button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes wave {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#wave-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/background/3.jpeg');
    /* background-size: 100vw 100vh; */
    animation: wave 3s ease infinite;
}


.radio-buttons {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Style for unselected radio buttons */
.custom-control-input:not(:checked)~.custom-control-label::before {
    border-color: #adb5bd;
    background-color: #fff;
}

/* Style for selected radio buttons */
.custom-control-input:checked~.custom-control-label::before {
    border-color: #0d6efd;
    background-color: #0d6efd;
    animation: bounce 0.5s;
    background-color: #000000;
}

@keyframes bounce {

    0%,
    100% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.2);
    }
}

/* Define the character reaction animation */
@keyframes character-reaction {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply the character reaction animation to the character */
#character {
    animation: character-reaction 1s;
    display: none;
}

/* Define the fade-in animation */
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Apply the fade-in animation to the answer section */
.fade-in {
    animation: fade-in 2s;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.slide-in {
    animation: slideIn 2s;
}

@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    60% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.bounceIn {
    animation: bounceIn 2s;
}

.slideInRight {
    animation: slideInRight 2s;
}

.slideInLeft {
    animation: slideInLeft 2s;
}

/* ==============ANT ANIMATION =======================*/

.wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    /* background: #f2f3f2; */

}



.ants {
    fill: black;
    width: 15px;
    height: 25px;
    position: absolute;
}

#ant1 {
    left: 50%;
    bottom: -60%;
    animation: ant-1-animation 8s infinite;
}

#ant2 {
    left: 0;
    bottom: -50%;
    animation: ant-2-animation 9s infinite;
}

#ant3 {
    left: 100%;
    bottom: -70%;
    animation: ant-3-animation 12s infinite;
    animation-delay: 1s;
}

#ant4 {
    left: 0;
    bottom: -50%;
    animation: ant-2-animation 12s infinite;
    animation-delay: 3s;
}

@keyframes ant-1-animation {
    0% {
        left: 50%;
        bottom: -60%;
    }

    10% {
        left: 50%;
        bottom: 5%;
        transform: rotate(0deg);
    }

    12% {
        left: 50%;
        bottom: 5%;
        transform: rotate(-90deg);
    }

    18% {
        transform: rotate(-90deg);
    }

    20% {
        left: 5%;
        bottom: 5%;
        transform: rotate(-90deg);
    }

    22% {
        transform: rotate(0);
    }

    32% {
        transform: rotate(0);
    }

    38% {
        left: 5%;
        bottom: 87%;
        transform: rotate(90deg);
    }

    50% {
        left: 90%;
        bottom: 87%;
        transform: rotate(90deg);
    }

    55% {
        left: 90%;
        bottom: 87%;
        transform: rotate(230deg);
    }

    72% {
        left: 5%;
        bottom: 5%;
        transform: rotate(230deg);
    }

    78% {
        left: 5%;
        bottom: 5%;
        transform: rotate(90deg);
    }

    85% {
        left: 50%;
        bottom: 5%;
        transform: rotate(90deg);
    }

    90% {
        left: 50%;
        bottom: 5%;
        transform: rotate(180deg);
    }

    100% {
        left: 50%;
        bottom: -60%;
        transform: rotate(180deg);
    }
}

/* // ANT 2 */
@keyframes ant-2-animation {
    0% {
        left: 0;
        bottom: -50%;
        transform: rotate(45deg);
    }

    15% {
        left: 50%;
        bottom: 5%;
        transform: rotate(45deg);
    }

    18% {
        left: 50%;
        bottom: 5%;
        transform: rotate(90deg);
    }

    28% {
        left: 85%;
        bottom: 5%;
        transform: rotate(90deg);
    }

    30% {
        left: 85%;
        bottom: 5%;
        transform: rotate(0deg);
    }

    40% {
        left: 85%;
        bottom: 85%;
        transform: rotate(0deg);
    }

    48% {
        left: 85%;
        bottom: 85%;
        transform: rotate(-90deg);
    }

    58% {
        left: 5%;
        bottom: 85%;
        transform: rotate(-90deg);
    }

    68% {
        left: 5%;
        bottom: 85%;
        transform: rotate(-180deg);
    }

    79% {
        left: 5%;
        bottom: 5%;
        transform: rotate(-180deg);
    }

    81% {
        left: 5%;
        bottom: 5%;
        transform: rotate(-270deg);
    }

    88% {
        left: 50%;
        bottom: 5%;
        transform: rotate(-270deg);
    }

    90% {
        left: 50%;
        bottom: 5%;
        transform: rotate(-140deg);
    }

    100% {
        left: 0%;
        bottom: -50%;
        transform: rotate(-140deg);
    }
}

/* // ANT 3 */
@keyframes ant-3-animation {
    0% {
        left: 100%;
        bottom: -70%;
        transform: rotate(-45deg);
    }

    15% {
        left: 50%;
        bottom: -15%;
        transform: rotate(-45deg);
    }

    18% {
        left: 50%;
        bottom: -15%;
        transform: rotate(-90deg);
    }

    28% {
        left: -10%;
        bottom: -15%;
        transform: rotate(-90deg);
    }

    30% {
        left: -10%;
        bottom: -15%;
        transform: rotate(0deg);
    }

    45% {
        left: -10%;
        bottom: 105%;
        transform: rotate(0deg);
    }

    48% {
        left: -10%;
        bottom: 105%;
        transform: rotate(90deg);
    }

    58% {
        left: 105%;
        bottom: 105%;
        transform: rotate(90deg);
    }

    60% {
        left: 105%;
        bottom: 105%;
        transform: rotate(180deg);
    }

    75% {
        left: 105%;
        bottom: -15%;
        transform: rotate(180deg);
    }

    81% {
        left: 105%;
        bottom: -15%;
        transform: rotate(270deg);
    }

    88% {
        left: 50%;
        bottom: -15%;
        transform: rotate(270deg);
    }

    90% {
        left: 50%;
        bottom: -15%;
        transform: rotate(180deg);
    }

    92% {
        left: 50%;
        bottom: -15%;
        transform: rotate(130deg);
    }

    100% {
        left: 100%;
        bottom: -70%;
        transform: rotate(130deg);
    }
}

/* =======ButterFly Animation===============================================*/
@keyframes colorChange {
    0% {
      filter: hue-rotate(0deg);
    }
    50% {
      filter: hue-rotate(180deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
/* @keyframes fly {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    10% {
        transform: translate(0, 0) rotate(120deg);
    }
    25% {
        transform: translate(15vw, 30vh) rotate(120deg);
    }
    50% {
        transform: translate(50vw, 0) rotate(90deg);
    }
    75% {
        transform: translate(75vw, 0) rotate(120deg);
    }
    100% {
        transform: translate(100vw, 0) rotate(90deg);
    }
} */

#butterflyAnimation,#butterflyAnimation1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    width: 100px; 
    background-image: url('images/animations/butterfly.gif');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    animation: fly 10s infinite, colorChange 4s infinite;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    
}

@keyframes fly {
    0% {
        transform: translate(0, 0) rotate(0deg) scale(1);
        opacity: 0;
    }
    25% {
        transform: translate(25vw, 25vh) rotate(45deg) scale(1.5);
        opacity: 1;
    }
    50% {
        transform: translate(50vw, 0) rotate(90deg) scale(1);
        opacity: 0;
    }
    75% {
        transform: translate(75vw, -25vh) rotate(135deg) scale(1.5);
        opacity: 1;
    }
    100% {
        transform: translate(100vw, 0) rotate(180deg) scale(1);
        opacity: 0;
    }
}

/* ====================================================*/